# FIREBASE_API_KEY=AIzaSyAkuSwhoNnbAQiJLnU0Hg5nMk0Brb6T6es
# FIREBASE_AUTH_DOMAIN=makingthegrade-51b27.firebaseapp.com
# FIREBASE_PROJECT_ID=makingthegrade-51b27
# FIREBASE_STORAGE_BUCKET=makingthegrade-51b27.appspot.com
# FIREBASE_MESSAGING_SENDER_ID=303104483923
# FIREBASE_APP_ID=1:303104483923:web:55f84c3b7a8071365adca6